<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="false" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <connectionStrings>
    <add name="WildfireSimulator" connectionString="Data Source=ETISLGHLP89421;Initial Catalog=WildfireSimulator; Connect Timeout=400000;pooling='true'; Max Pool Size=4000000; Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  
  
  
</configuration>
